.App {
  text-align: center;
}

#break-container {
  height: 100px;
}

#break-length,
#session-length,
#time-left {
  font-size: 34px;
  margin: 20px;
  padding: 4px;
  font-family: fantasy;
  line-height: 60px;
}

.disabled-arrows {
  pointer-events: none;

  /* for "disabled" effect */
  /* opacity: 0.5;
  background: #ccc; */
}
